output "cluster_name" {
  description = "Name of the deployed GKE Autopilot cluster."
  value       = google_container_cluster.autopilot.name
}

output "cluster_endpoint" {
  description = "Endpoint of the deployed cluster."
  value       = google_container_cluster.autopilot.endpoint
  sensitive   = true
}

output "cluster_location" {
  description = "Location of the deployed cluster."
  value       = google_container_cluster.autopilot.location
}